@import "src/assets/scss/mixins";

.wrapper {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  background-color: #fff;
  font-size: 16px;
  @include mq('mobile576') {
    margin-bottom: 16px;
    padding: 8px;
  }
}

.time {
  margin-bottom: 24px;
}

.tableWrapper {
  @include mq('mobile576') {
    overflow-x: auto;
    padding-bottom: 20px;
  }
}

.table {
  width: 100%;

  tr {
    border-bottom: 1px solid #333;
  }

  tbody {
    tr {
      border-bottom: 1px solid #ccc;
    }
  }

  th, td {
    padding: 16px;
    text-align: left;
    white-space: nowrap;
    @include mq('mobile320') {
      padding: 8px;
    }
  }
}

.totalPrice {
  margin-top: 24px;
  @include mq('mobile576') {
    margin-top: 0;
  }
}