.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, .5);
  line-height: normal;
}

.navbar {
  width: 100%;
  border: none;
}

.navbarList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarItem {
  margin: 0 16px;
}

.navbarItemLogo {
  margin-left: 0;
  margin-right: auto;
  font-size: 24px;
  font-weight: 500;

  img {
    width: 35px;
    margin-right: 8px;
  }

  .navbarLink {
    &:hover {
      color: #9254de;
    }
  }
}

.navbarLink {
  font-size: 18px;
  font-weight: 500;
  color: #9254de;

  &:hover {
    color: #722ed1;
  }
}
