@import "src/assets/scss/mixins";
@import "src/assets/scss/vars";

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, .5);
  line-height: normal;
  @include mq('tablet1024') {
    padding: 0 16px;
  }
  @include mq('mobile576') {
    height: 50px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
}

.navbarLogo {
  margin-left: 0;
  margin-right: auto;
  font-size: 24px;
  font-weight: 500;

  img {
    width: 35px;
    margin-right: 8px;
  }

  .navbarLink {
    padding: 0;
  }
}

.navbarDesktop {
  @include mq('mobile576') {
    .navbarList {
      display: none;
    }

    .burgerMenu {
      display: block;
    }
  }
}

.navbarList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarLink {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  color: $purple;

  &:hover {
    color: $purpleHover;
  }
}

.navbarLinkActive {
  color: $purpleHover;
  border-bottom: 2px solid $purpleHover;
}

.burgerMenu {
  display: none;
  height: auto;
  padding: 0;
  box-shadow: none;
  border: none;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: $purple;
    transition: .2s;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }

  &:hover {
    span {
      background-color: $purpleHover;
    }
  }
}

.navbarMobile {
  display: none;
  @include mq('mobile576') {
    display: block;

    .navbarList {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbarItem {
      padding: 10px 0;
    }
  }
}