@import "src/assets/scss/mixins";

.product {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  @include mq('mobile576') {
    flex-direction: column;
  }
}

.productImg {
  width: 200px;
  margin-right: 4px;
  @include mq('mobile576') {
    width: 100%;
    margin-right: 0;
  }

  img {
    width: 100%;
  }
}

.productContent {
  width: 100%;
  padding: 16px;
}

.productWrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.productCounterWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.productCounterText {
  width: 25px;
  text-align: center;
}